---
import Layout from '../layouts/Layout.astro';
---

<Layout title="GERMAN GAMBOART">
  <main>
    <div>image</div>
    <div class="text-xl uppercase">more about german gamboa</div>
  </main>
</Layout>
