---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Insta from '../components/InstaTest.astro';
import InstagramGrid from '../components/InstagramGrid.astro';
import Contact from '../components/Contact.astro';
import SimpleContact from '../components/SimpleContact.svelte';
---

<Layout title="FORM">
  <main class="pt-32">
    <SimpleContact />
  </main>
</Layout>
