<div
  class="w-full h-screen flex flex-col items-center justify-center mt-20 sm:mt-0">
  <div
    class="grid grid-cols-1 justify-center shadow-lg rounded-lg p-8 max-w-2xl">
    <div class="flex justify-center">
      <img
        src="/images/german-headshot.webp"
        alt="GERMAN GAMBOA HEADSHOT"
        width="100%"
        height="100%"
      />
    </div>
    <div class="flex justify-center text-2xl font-bold uppercase mt-10">
      <h1>about</h1>
    </div>
    <div class="flex justify-center">
      <span class="w-36 h-0.5 bg-white block mt-1"></span>
    </div>
    <p class="text-md text-gray-100 leading-relaxed mt-10">
      Born and raised in Caracas, Venezuela, German Gamboa has always had a
      passion for the arts. He grew up with a pencil in his hand, drawing and
      scribbling ideas onto a sheet of paper. When attending college, he chose a
      degree that made the most sense to him: Graphic Design/Ilustration. Soon
      after graduating he started his career as a Tattoo Artist, and it was
      clear that he was born to do this. He is happiest when creating a unique
      piece and feeling the buzz of the machine when it inches closer to one's
      skin. Now living in Miami, Florida and doing tours around the world,
      German Gamboa spreads his creativity and love for the arts; always leaving
      behind a masterpiece. Warning: His vibes are contagious and you may seek
      more than one tattoo experience by him.
    </p>
  </div>
</div>
