<div>
  <div class="flex justify-center text-2xl font-bold uppercase">
    <h1>Appointment Inquiry</h1>
  </div>
  <div class="flex justify-center">
    <span class="w-80 h-0.5 bg-white block mt-1"></span>
  </div>
</div>
<!-- component -->
<div class="flex items-center justify-center p-12">
  <div class="mx-auto w-full max-w-[550px]">
    <form action="" method="POST" enctype="multipart/form-data">
      <div class="mb-5">
        <label for="full_name" class="mb-3 block text-base font-medium">
          Full Name
        </label>
        <input
          type="text"
          placeholder="Full Name"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="email" class="mb-3 block text-base font-medium">
          Email Address
        </label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="example@domain.com"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="birthday" class="mb-3 block text-base font-medium">
          Birthday
        </label>
        <input
          type="date"
          name="birthday"
          id="birthday"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="phone" class="mb-3 block text-base font-medium">
          Phone Number
        </label>
        <input
          type="tel"
          name="phone"
          id="phone"
          placeholder="Phone Number"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="address" class="mb-3 block text-base font-medium">
          Address
        </label>
        <input
          type="text"
          name="address"
          id="address"
          placeholder="Street Address"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="city" class="mb-3 block text-base font-medium"> City</label>
        <input
          type="text"
          name="city"
          id="city"
          placeholder="City"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="state" class="mb-3 block text-base font-medium">
          State
        </label>
        <input
          type="text"
          name="state"
          id="state"
          placeholder="State"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="about_tattoo" class="mb-3 block text-base font-medium">
          About the Tattoo
        </label>
        <textarea
          rows="4"
          name="about_tattoo"
          id="about_tattoo"
          placeholder="Type about the tattoo"
          class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-zin-200 focus:shadow-md"
        ></textarea>
      </div>
      <div class="mb-5">
        <label for="reference_image" class="mb-3 block text-base font-medium">
          Reference Image
        </label>
        <input
          type="file"
          name="reference_image"
          id="reference_image"
          class="w-full py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="image_placement" class="mb-3 block text-base font-medium">
          Image Placement
        </label>
        <input
          type="file"
          name="image_placement"
          id="image_placement"
          class="w-full py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus: shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="placement" class="mb-3 block text-base font-medium">
          Placement
        </label>
        <input
          type="text"
          name="placement"
          id="placement"
          placeholder="Enter placement details"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label for="availability" class="mb-3 block text-base font-medium">
          Availability
        </label>
        <div class="flex">
          <div class="w-full">
            <label for="sun" class="inline-block mr-2">Sun</label>
            <input
              type="checkbox"
              name="availability"
              id="sun"
              class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
          <div class="w-full">
            <label for="mon" class="inline-block mr-2">Mon</label>
            <input
              type="checkbox"
              name="availability"
              id="mon"
              class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
          <div class="w-full">
            <label for="tues" class="inline-block mr-2">Tues</label>
            <input
              type="checkbox"
              name="availability"
              id="tues"
              class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
          <div class="w-full">
            <label for="wed" class="inline-block mr-2">Wed</label>
            <input
              type="checkbox"
              name="availability"
              id="wed"
              class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
          <div class="w-full">
            <label for="thurs" class="inline-block mr-2">Thurs</label>
            <input
              type="checkbox"
              name="availability"
              id="thurs"
              class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
          <div class="w-full">
            <label for="fri" class="inline-block mr-2">Fri</label>
            <input
              type="checkbox"
              name="availability"
              id="fri"
              class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
          <div class="w-full">
            <label for="sat" class="inline-block mr-2">Sat</label>
            <input
              type="checkbox"
              name="availability"
              id="sat"
              class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
        </div>
        <div class="mb-5">
          <label
            for="dates_flexibility"
            class="mb-3 block text-base font-medium">
            Dates and Flexibility
          </label>
          <textarea
            rows="4"
            name="dates_flexibility"
            id="dates_flexibility"
            placeholder="Type available dates and flexibility"
            class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-zin-200 focus:shadow-md"
          ></textarea>
        </div>
        <div>
          <button
            class="hover:shadow-form rounded-md outline outline-white py-3 px-8 text-base font-semibold text-white outline-none">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
