---
import Icon from 'astro-icon';
---

<footer class="text-black py-6">
  <div class="container mx-auto flex justify-center items-center space-x-4">
    <div class="bg-white rounded-full">
      <Icon name="ph:instagram-logo" class="text-xl w-10 p-1" />
    </div>
    <div class="bg-white rounded-full">
      <Icon name="uil:facebook-f" class="text-xl w-10 p-1" />
    </div>
    <div class="bg-white rounded-full">
      <Icon name="ic:baseline-tiktok" class="text-xl w-10 p-1" />
    </div>
  </div>
</footer>
