---
import heroImg from '../images/hero.png';
---

<div>
  <div class="pt-20 flex justify-center">
    <img src={heroImg} alt="GERMAN GAMBOART" />
  </div>
  <div class="my-20">
    <div class="mx-auto max-w-2xl">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
    </div>
    <div class="text-center">
      <h1 class="text-lg italic font-thin">Want to get inked?</h1>
      <p class="mt-4 text-4xl tracking-wider leading-6">Tattoo inquiry</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#" class="">CLICK HERE</a>
      </div>
    </div>
  </div>
</div>
