---
import SocialCard from './SocialCard.astro';
---

<div
  class="flex justify-center pt-10 text-3xl tracking-wider leading-6 uppercase">
  Latest Creations
</div>
<div class="flex justify-center">
  <span class="w-80 h-0.5 bg-white block mt-1"></span>
</div>

<div class="flex justify-center py-6">
  <div class="grid grid-cols-2 max-w-lg gap-4 px-10">
    <SocialCard img="/images/insta/jesus-tat.jpeg" alt="Testing" />
    <SocialCard img="/images/insta/lighthouse.jpeg" alt="Testing" />
    <SocialCard img="/images/insta/lightning-kiss.jpeg" alt="Testing" />
    <SocialCard img="/images/insta/PACIENCIA.jpeg" alt="Testing" />
    <SocialCard img="/images/insta/sunflower-diver.jpeg" alt="Testing" />
    <SocialCard img="/images/insta/upper-arm-flower.jpeg" alt="Testing" />
  </div>
</div>
