<!-- Navbar Component -->
<header class="fixed w-full z-50">
  <nav class="bg-transparent p-6">
    <div class="flex justify-between items-center">
      <!-- Logo -->
      <div class="text-lg">
        <a href="/" class="text-white">GERMAN GAMBOART</a>
      </div>
      <!-- Desktop Navigation -->
      <div class="hidden md:flex space-x-4">
        <a href="/" class="text-white">Home</a>
        <a href="/" class="text-white">Form</a>
        <a href="/" class="text-white">About</a>
      </div>
      <!-- Hamburger Menu -->
      <button id="hamburger" class="md:hidden focus:outline-none">
        <span class="w-6 h-0.5 bg-white block mb-1"></span>
        <span class="w-6 h-0.5 bg-white block mb-1"></span>
        <span class="w-6 h-0.5 bg-white block mb-1"></span>
      </button>
    </div>
  </nav>
  <!-- Mobile Navigation -->
  <div
    id="mobile-menu"
    class="hidden fixed inset-0 bg-zinc-800 opacity-98 z-40">
    <div class="relative h-full">
      <button
        id="close-btn"
        class="absolute top-4 right-4 text-white text-5xl focus:outline-none"
        >&times;</button
      >
      <div class="flex flex-col items-center justify-center h-full space-y-12">
        <a href="/" class="text-white text-7xl">Home</a>
        <a href="/" class="text-white text-7xl">Form</a>
        <a href="/" class="text-white text-7xl">About</a>
      </div>
    </div>
  </div>
</header>

<script>
  const hamburger: HTMLElement | null = document.getElementById('hamburger');
  const mobileMenu: HTMLElement | null = document.getElementById('mobile-menu');
  const closeBtn: HTMLElement | null = document.getElementById('close-btn');

  // Toggle mobile menu
  function toggleMobileMenu(): void {
    if (mobileMenu) {
      mobileMenu.classList.toggle('hidden');
    }
  }

  // Event listeners
  if (hamburger) {
    hamburger.addEventListener('click', toggleMobileMenu);
  }

  if (closeBtn) {
    closeBtn.addEventListener('click', toggleMobileMenu);
  }

  // Close the mobile menu when clicking outside the menu links
  if (mobileMenu) {
    mobileMenu.addEventListener('click', (e: MouseEvent) => {
      if (e.target === mobileMenu) {
        toggleMobileMenu();
      }
    });
  }

  // Close the mobile menu when pressing the Escape key
  document.addEventListener('keydown', (e: KeyboardEvent) => {
    if (
      e.key === 'Escape' &&
      mobileMenu &&
      !mobileMenu.classList.contains('hidden')
    ) {
      toggleMobileMenu();
    }
  });
</script>
