<!-- Navbar Component -->
<header id="navbar" class="fixed w-full z-50">
  <nav class="p-6">
    <div class="flex justify-between items-center">
      <!-- Logo -->
      <div class="text-lg">
        <a href="/" class="text-white">GERMAN GAMBOART</a>
      </div>
      <!-- Desktop Navigation Bar -->
      <div class="hidden md:flex space-x-4 text-white">
        <a href="/">Home</a>
        <a href="/form">Form</a>
        <a href="/about">About</a>
      </div>
      <!-- Hamburger Menu -->
      <button id="hamburger" class="md:hidden focus:outline-none">
        <span class="w-6 h-0.5 bg-white block mb-1"></span>
        <span class="w-6 h-0.5 bg-white block mb-1"></span>
        <span class="w-6 h-0.5 bg-white block mb-1"></span>
      </button>
    </div>
  </nav>
  <!-- Mobile Navigation Bar -->
  <div
    id="mobile-menu"
    class="hidden fixed inset-0 bg-zinc-800 opacity-98 z-40">
    <div class="relative h-full">
      <button
        id="close-btn"
        class="absolute top-4 right-4 text-white text-5xl focus:outline-none"
        >&times;</button
      >
      <div
        class="flex flex-col items-center justify-center h-full space-y-12 text-white text-6xl">
        <a href="/">Home</a>
        <a href="/form">Form</a>
        <a href="/about">About</a>
      </div>
    </div>
  </div>
</header>

<script>
  const hamburger = document.getElementById('hamburger');
  const mobileMenu = document.getElementById('mobile-menu');
  const closeBtn = document.getElementById('close-btn');
  const navbar = document.getElementById('navbar');

  function toggleMobileMenu() {
    if (mobileMenu) {
      mobileMenu.classList.toggle('hidden');
    }
  }

  if (hamburger) {
    hamburger.addEventListener('click', toggleMobileMenu);
  }

  if (closeBtn) {
    closeBtn.addEventListener('click', toggleMobileMenu);
  }

  if (mobileMenu) {
    mobileMenu.addEventListener('click', (e) => {
      if (e.target === mobileMenu) {
        toggleMobileMenu();
      }
    });
  }

  document.addEventListener('keydown', (e) => {
    if (
      e.key === 'Escape' &&
      mobileMenu &&
      !mobileMenu.classList.contains('hidden')
    ) {
      toggleMobileMenu();
    }
  });

  if (navbar !== null) {
    window.onscroll = function () {
      if (window.pageYOffset < 25) {
        navbar.style.top = '0';
      } else {
        navbar.style.top = '-50px';
      }
    };
  }
</script>
