---
export interface Props {
  img: string;
  alt: string;
}

const { img, alt } = Astro.props;
---

<div class="rounded overflow-hidden shadow-md bg-white">
  <img src={img} alt={alt} class="w-full object-cover" />
</div>
